/* Phones - Small Devices (max-width: 480px) */
@media (max-width: 480px) {
    .introduction {
        padding: 15px;
    }

    .name {
        font-size: 2rem;
    }

    .tagline {
        font-size: 1.2rem;
    }

    .description {
        font-size: 0.9rem;
        margin: 0 auto;
    }

    .github-btn {
        padding: 8px 15px;
    }

    
    .expertise-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .expertise-description{
        font-size: 0.7rem;
    }
    
    .expertise-title{
        font-size: 1.2rem;
    }

    .expertise-icon{
        width: 30px;
        height: 30px;
    }

    .expertise-box {
        width: 80%;
        min-width: unset;
    }

    .about-container{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }


    .navbar {
        position: fixed;
        left: 50%;
        top: 90%;
        transform: translateX(-50%);
        padding: 20px 10px;
        flex-direction: row;
    }
    .btn img {
        width: 24px;
        height: 24px;
    }
}

/* Tablets - Medium Devices (max-width: 768px) */
@media (max-width: 768px) {
    .name {
        font-size: 2.5rem;
    }

    .tagline {
        font-size: 1.3rem;
    }

    .github-btn {
        padding: 10px 18px;
    }

    .expertise-box {
        flex: 1 1 48%;
        max-width: 48%;
    }
}

/* Larger Devices */
@media (min-width: 1024px) {
    .introduction {
        max-width: 80%;
        margin: 0 auto;
    }
}
